/* styles/results.module.css */
.container {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    text-align: center;  }
  
.h1 {
    color: #4CAF50;
  }
  
.p {
    font-size: 18px;
  }
  
.button {
    padding: 10px 20px; 
    font-size: 1rem;
    margin: 10px; 
    border: none; 
    border-radius: 5px; 
    background-color: #0070f3; 
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s; 
    display: flex; 
    justify-content: center; 
  }
  
.button:hover {
    background-color: #005bb5; 
  }